<!DOCTYPE html>
<html lang="en">
<head>
  <title>Youtube Downloader</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="download.min.js"></script>
</head>
<body>
<div class="container">
  <div class="form-group">
    <label for="usr">Please enter a link like <span style="color:red">dQw4w9WgXcQ</span></label>
    <input type="text" class="form-control" id="usr" placeholder="dQw4w9WgXcQ">
    <button type="button" class="btn btn-outline-primary">Download</button>
  </div>
</div>
<script type="text/javascript">
  $("button").click(function(){
    var link = $("input").val();
    console.log(link);
    window.open("http://164.132.103.232:3000/" + link, "_self");
  })
  console.log("Downloading ... " + "<%= file %>");
  var file = "<%= file %>";
  if (file != '') {
    console.log(file);
    download("downloads/" + file);
    window.open("http://164.132.103.232:3000/", "_self");
  }
</script>
</body>
</html>
